@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2>Bienvenido a mi página</h2>
    <p>Esta es una página de ejemplo con texto e imagen centrados.</p>
    <img src="imagenes/6.jpg" alt="Ejemplo de imagen" style="width:300px; height:auto;" />
</div>
</div>
